
.text-decorator-none{
    text-decoration: none;
}


.btnLogin{
    background-color: #f3c560 !important;
    color: #30706f !important;
    font-weight: bold !important;
    width: 100%;
    padding: 3% !important;
}
.btnLogin:hover{
    background-color: #f3c56090 !important;
}

.MuiTypography-subtitle1{
    color: #f3c560  !important;
    font-size: 1.2em !important;
}

#cadastre-se:hover{
    color: #f3c56090  !important;
}
#txt-entrar{
    color: #f3c560 !important;
}

.form-back{
    background-image: url(https://i.imgur.com/gIBuI91.png);
    background-repeat: no-repeat;
     width: 100vw;
     height: 100vh;
     background-size:cover;
     background-position:bottom;
    justify-content: center;
    align-items: center;
}

.container-form-login{
    padding-top: 20% !important;
    background-color: #30706f;
    border-radius: 10px;
    padding: 15%;
    height: 50vh;
    justify-content: center !important;
    align-items: center !important;
}

.form-back .MuiInputBase-input{
    color: #f3c560 !important;
}

.form-back .MuiFormLabel-root.Mui-focused{
    color: #f3c56090 !important;
}
.form-back .MuiOutlinedInput-notchedOutline{
    border-color: #f3c56090 !important;
}

