@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.cabecalho-home{
    background-image: url('https://i.imgur.com/oSjw7ru.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 44vh;
    width: 100vw;
}

.titles-home{
    margin-top: 10%;
    margin-left: 3%;
}

.tab-post .MuiAppBar-colorPrimary{
    background: #30706f !important;
}
.tab-post.MuiTab-textColorInherit:hover{
    background: #30706f90 !important;
}
.tab-post .MuiTab-wrapper{
    color: #f3c560  !important; 
}

.h3 {
    font-family: 'Quicksand', sans-serif !important;
    color: #f3c560  !important; 
    font-weight: bold !important;
}
.h5{
    font-family: 'Quicksand', sans-serif !important;
    color: #f3c560  !important;
    font-weight: bold !important;
}

.MuiTypography-subtitle2{
    font-family: 'Quicksand', sans-serif !important;
}

.tab-post{
    background: linear-gradient(36deg, #30706f90 8%, #f3c56090 80%)!important;
    font-family: 'Quicksand', sans-serif !important;
    color: #fff !important;
    padding-bottom: 150px;
}


.btn-dark button{
    background: #30706f !important;
    color: #f3c560 !important;
}
.btn-dark button:hover{
    background: #0f0e0090 !important;
}

.btn-light .MuiButton-root:hover{
    background: #0f0e0090 !important;
}
.btn-light button{
    background-color: #f3c560 !important;
    color: #30706f !important;
}

.MuiButton-containedPrimary{
    background-color: #f3c560 !important;
    color: #30706f !important;
}


