.estrutura-rodape{
    position: absolute;
}
.rodape{
    background: #fad689 !important;
    color: #30706f !important;
    height: 120px;
}

.icons{
    color: #30706f !important; 
}

.icons-size{
    font-size: 60px !important;
}

.icons :hover{
    color: #30706f90 !important;
}

.rodape-copy{
    background: #fad689 !important;
    color: #30706f !important;
}

.foot-h5{
    color: #30706f !important;
}

.text-decorator-none{
    text-decoration: none !important;

}
