.estrutura-rodape{
    position: flex;
}
.rodape{
    background: #2f2b43 !important;
    color: #b94f51 !important;
    height: 120px;
}

.icons{
    color: #b94f51 !important; 
}

.icons-size{
    font-size: 60px !important;
}

.icons :hover{
    color: #ffffff90 !important;
}

.rodape-copy{
    background: #2f2b43 !important;
    color: #b94f51 !important;
}

.foot-h5{
    color: #b94f51 !important;
}

