
.rodape{
    background: #27a1e7 !important;
    color: #fff !important;
    height: 120px;
}

.icons{
    color: #165d86 !important; 
}

.icons-size{
    font-size: 60px !important;
}

.icons :hover{
    color: #ffffff90 !important;
}

.rodape-copy{
    background: #165d86;
    height: 60px;
}


