.menu{
    background: #2f2b43 !important;
    align-items: flex-end;
}

.menu-text h6{ 
    color: #b94f51 !important;
    font-weight: bold !important;
    margin-right: 15px !important;
}

.menu-text h6:hover{ 
    color: #8aa3e099 !important;
    font-weight: bold !important;
}

.MuiTypography-h6{
    font-family: 'Quicksand', sans-serif !important;

}

.text-decorator-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: #fff;
}