.menu{
    background: #4da3f8 !important;
}

.menu-text{ 
    color: #165d86 !important;
    font-weight: bold !important;
    margin-right: 5px !important;
}

.menu-text:hover{ 
    color: #FFFfff81 !important;
    font-weight: bold !important;
}

.MuiTypography-h6{
    font-family: 'Quicksand', sans-serif !important;

}

.text-decorator-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: #fff;
}