.imagem2 img{
    min-height: 100vh;
    margin-right: 10px;
    width: 65vw !important;
}


.btnCancelar{
    margin-right: 10px !important;
}

.btnCadastrar{
    margin-left: 10px !important;
}

.MuiInputBase-input{
    color: #2f2b43 !important;
}

