.imagem2{
    background-image: url(http://localhost:3000/cadastro.gif); 
    background-repeat: no-repeat; 
    width: 100vh; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;
}

.boxform{
    background: linear-gradient(36deg, #3f078080 8%, #2c96d480 80%)!important;
}

.btnCancelar{
    margin-right: 10px !important;
}

.btnCadastrar{
    margin-left: 10px !important;
}